.pieces{
    width: 100vw;
    height: 900px;
    background-image: url('/assets/background/pieces.png');
    background-repeat: no-repeat;
    background-size: cover;

    h1{
        max-width: 540px;
        padding-top: 130px;
        padding-left: 27%;
    }
}