#loginSignUp{
    display: inline-flex;
    width: 100%;
}
#formLogIn{
    width: 50%;
}
#formSignUp{
    width: 50%;
}

form{
    width: 60%;
    margin-top: 100px;
    margin-left: 20%;
}
mat-form-field{
    width: 100%;
}