<!-- <form (submit)="onSubmit($event)" >
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Enter Your email">
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="password" placeholder="Enter your password" type="password">
  </mat-form-field>

  <button type="submit" >Login</button>
</form> -->

<form [formGroup]="loginForm" (submit)="onSubmit(loginForm)" novalidate>
  
  <label>Username
    <mat-form-field>
      <input matInput placeholder="username" formControlName="username">
    </mat-form-field>
    <!-- <input formControlName="username"> -->
  </label>
  <div *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">
    You must fill out your username
  </div>
  
  <label>Password
    <input formControlName="password">
  </label>
  <div *ngIf="loginForm.controls.password.errors?.invalidPassword">
    Invalid Password
  </div>

  <p>Form value: {{ loginForm.value | json }}</p>
  <p>Form status: {{ loginForm.status | json }}</p>

  <!-- [disabled]="loginForm.invalid" -->
  <button type="submit" >Login</button>
</form>