#loginSignUp{
    display: inline-flex;
    width: 100%;
    background-color: #293849;
}

#formSignUp{
    width: 40%;
    margin: 20px 5%;
    background-color: #FFFFFF;
    .formSignUp__header{
        width: 100%;
        height: 135px;
        background-color: #F9FDFF;
        position: relative;
        &__close{
            position: absolute;
            top: 30px;
            right: 30px;
        }
        &__logo{
            text-align: center;
            padding-top: 30px;
        }
        h2{
            text-align: center;
            font-size: 20px;
        }
    }
    img{
        max-width: 300px;
    }
}
#formLogIn{
    width: 40%;
    height: 555px;
    margin: 20px 5%;
    background-color: #FFFFFF;
    .formLogIn__header{
        width: 100%;
        height: 135px;
        background-color: #F9FDFF;
        position: relative;
        &__close{
            position: absolute;
            top: 30px;
            right: 30px;
        }
        &__logo{
            text-align: center;
            padding-top: 30px;
        }
        h2{
            text-align: center;
            font-size: 20px;
        }
    }
    .btnFacebook{
        width: 60%;
        height: 40px;
        border: 1px solid #E0E6EF;
        color: #293849;
        margin-left: 20%;
        margin-top: 50px;
    }
}

form{
    width: 60%;
    margin-top: 30px;
    margin-left: 20%;
    .btnSubmit{
        width: 100%;
        margin-top: 50px;
        background-color: #293849;
        color: #FFFFFF;
        text-transform: uppercase;
    }
}
mat-form-field{
    width: 100%;
}